<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required only if your app needs to access images or photos
     that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required only if your app needs to access videos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required only if your app needs to access audio files
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaTestApp">
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MediaTestActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".AudioTestActivity"
            android:screenOrientation="fullSensor">
        </activity>
<!--        <receiver android:name=".receiver.MediaScannerReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_MOUNTED" />-->
<!--                <action android:name="android.intent.action.MEDIA_REMOVED" />-->
<!--                <action android:name="android.intent.action.MEDIA_CHECKING" />-->
<!--                <action android:name="android.intent.action.MEDIA_EJECT" />-->
<!--                <action android:name="android.intent.action.MEDIA_UNMOUNTABLE" />-->
<!--                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />-->
<!--                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />-->
<!--                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />-->
<!--                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />-->
<!--                <data android:scheme="file" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>